<section fxFlex fxLayout="column" fxLayoutAlign="center center">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" fxFlex fxLayout="column">
    <mat-form-field>
      <label>Email</label>
      <input matInput ngModel type="text" name="email">
    </mat-form-field>

    <mat-form-field>
      <label>Password</label>
      <input matInput ngModel type="text" name="password">
    </mat-form-field>

    <button *ngIf="!isLoading" [disabled]="f.invalid" color="primary" mat-button type="submit">Login</button>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </form>
</section>
