<section>
  <h2>Please open an existing timesheet or create a new one to get started...</h2>
</section>

<section>
  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card fxFlex fxLayoutAlign="center center">
        <mat-card-content>
          <a routerLink="/create-timesheet" matTooltip="Create a new timesheet"><mat-icon>add</mat-icon></a>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile *ngFor="let timesheetName of timesheetNames">
      <mat-card fxFlex fxLayoutAlign="center center" *ngIf="timesheetName.timesheetID != 'timesheet_0'">
        <mat-card-content>
          <a (click)="openTimeSheet('{{ timesheetName }}')" class="welcomeBox">{{ timesheetName.name }}</a>
        </mat-card-content>
        <mat-card-actions>
          <button (click)="openTimeSheet('{{ timesheetName }}')" mat-button color="primary">Open</button>
          <button (click)="deleteTimeSheet('{{ timesheetName }}')" mat-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>

